body{
  background-color: black;
  font-family: 'perfect_dos_vga_437regular', 'Bitwise', sans-serif;
}

.homepage_container{
  font-size: 1.2rem;
  color: green;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}