.hidden {
  display: none;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in {
  animation: fadeIn 3s ease-in-out forwards;
}

.main{
  font-size: 1.2rem;
  color: green;
  text-shadow: 0 0 0.5em greenyellow;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
}
